[Unit]
Description=Sync ELPA archive
After=network.target

[Service]
ExecStart=/usr/bin/scheme-script /root/sync-elpa/out
Restart=on-failure

[Install]
WantedBy=multi-user.target
